/*************************************************
    GENERAL STYLES
 *************************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

img {
  width: 100%;
}

/* Nav Styling */
.align-container {
  max-width: 60%;
  margin: 0 auto;
}

.align-center {
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem 0;
}

/* Menu Voices Underline */
.underline-transition::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s;
}

.underline-transition:hover::after {
  width: 100%;
}

/* Nav Color */
.top-nav {
  background-color: rgb(0, 132, 253);
  position: sticky;
  top: 0;
}

/* Styling Menu Voices */
.top-right-menu li a {
  text-decoration: none;
  overflow: hidden;
  color: white;
  font-size: 1rem;
}

.top-right-menu {
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.top-right-menu span {
  background-color: white;
  text-decoration: none;
  color: black;
  padding: .6rem 1rem;
  border-radius: 3rem;
}

#hvr:hover {
  background-color: whitesmoke;
}

.top-right-menu span a {
  text-decoration: none;
  color: black;
}

.top-right-menu>li {
  overflow: hidden;
  list-style-type: none;
}

/* Hamburger Menu */
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

/* Header Section Hero */
.content-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 3rem;
}

.content-sidebar>*:nth-child(1) {
  flex: 1 1 44rem;
  min-width: 30ch;
}

.content-sidebar>*:nth-child(2) {
  flex: 1 1 20rem;
  min-width: 15ch;
}

.col {
  background-color: #B5DDFF;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  text-align: center;
  gap: 1.5rem;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.heading-text {
  font-size: 1.6rem;
  color: #0084FD;
  font-weight: 600;
}

.fa-solid {
  color: #0084FD;
  font-size: 5rem;
}

.body-text {
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
}

.even-columns {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.even-columns>* {
  flex: 1 1 20rem;
}

.fa-apple {
  color: white;
  padding-right: 10px;
}

.btn-card {
  background-color: #0084FD;
  font-size: 1.4rem;
  letter-spacing: .3rem;
  padding: .5rem 2rem;
  border-radius: 2rem;
  width: 100%;
}

.btn-card a {
  text-decoration: none;
  color: white;
}

.col-left {
  width: 50%;
  flex-direction: column;
  display: flex;
  gap: 1.5rem;
  padding: 2rem;
}

.col-right {
  width: 50%;
  display: flex;
}

.col-right img {
  width: 100%;
  padding: 3rem 3rem 0;
}


.big-card {
  background-color: #B5DDFF;
  border-radius: 1rem;
  display: flex;
}

.bg-body-text {
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
}

/* Section 2 Features */
.features {
  background-color: #9792E4;
  margin-top: 3rem;
}

.col-lft img {
  width: 70%;
  padding: 7rem 0;
}

.text h1 {
  color: white;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.text p {
  color: white;
  font-size: 1.2rem;
  width: 80%;
  line-height: 1.7rem;
  padding-bottom: 4rem;
}


.col-rgt img {
  width: 50%;
}

.col-lft {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}

.col-rgt {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: white;
  border-radius: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 16rem;
  padding: 3rem 0.5rem;
  margin-bottom: 4rem;
  margin-right: 5rem;
}

.flex {
  display: flex;
}

.col-rgt p {
  line-height: 2rem;
  font-style: italic;
}

.fa-arrow-down-long {
  color: black;
  font-size: 1rem;
  border-radius: 100%;
  padding: 1.5rem;
  background-color: #9792E4;
}

/* Testimonial Section */
.row-testimonial {
  background-color: #9792E4;
  width: 100%;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: left;
}

.flex-testimonial {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.testimonial-text {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

.testimonial-text span {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.6);
}

.testimonial-text p {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.6);
}

.testimonial-text h1 {
  font-size: 3rem;
  color: #9792E4;
}

.row-testimonial.img {
  width: 30%;
}

.row-testimonial img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 2rem;
}

.row-testimonial.quote-text {
  width: 70%;
}

.quote-text .fa-solid {
  color: white;
  font-size: 1.2rem;
  padding: 0 5px;
}

.quote-text p {
  color: white;
  font-size: 18px;
  padding: 0 1rem 1rem 1rem;
}

.name {
  color: white;
  font-size: 19px;
  padding: 0 0 20px 20px;
  font-weight: 600;
}

.quote-text {
  padding-top: 3rem;
}

.flex-testimonial {
  margin-bottom: 3rem;
}

/* Benefits Section */
.title {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  padding: 3rem;
}

.benefits-section {
  background-color: rgb(151, 146, 228);
  padding-bottom: 3rem;
}

.heading-nmbr {
  text-align: left;
  color: rgb(151, 146, 228);
  font-size: 5rem;
  font-weight: 600;
}

.nmbr-text {
  font-size: 1.1rem;
  text-align: left;
  color: rgba(0, 0, 0, .6);
}

.subheading-nmbr {
  text-align: left;
  color: rgb(151, 146, 228);
  font-size: 1.6rem;
  font-weight: 600;
}

.bg-col {
  background-color: white;
}

.btn-purple {
  background-color: rgb(151, 146, 228);
  width: 40%;
  text-align: center;
  font-size: 1.1rem;
  padding: .7rem 1.5rem;
  border-radius: 2rem;
  letter-spacing: .5rem;
  font-weight: 600;
  color: white;
}

/* About Us Section */
.about-col-left {
  width: 60%;
}

.about-col-left h1 {
  font-size: 4rem;
  color: #9792E4;
  padding-bottom: 2rem;
}

.about-col-left p {
  font-size: 1.1rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, .5);
}

.about-col-right {
  width: 40%;
}

.about-us-section {
  margin: 3rem 0;
  display: flex;
}

.about-col-right {
  position: relative;
  display: flex;
  padding-top: 4rem;
  flex-direction: column;
}

.about-col-right h3 {
  color: #9792E4;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  width: 50%;
  display: flex;
  align-self: center;
  justify-content: center;
  padding-top: 1rem;
}

.about-col-right img {
  border-radius: 50%;
  width: 50%;
  display: flex;
  align-self: center;
}

.fa-quote-left {
  position: absolute;
  right: 105px;
  top: 70px;
  color: #9792E4;
}

.linkedin-btn {
  display: flex;
  background-color: #9792E4;
  color: white;
  padding: .6rem 1.5rem;
  width: 50%;
  justify-content: center;
  align-self: center;
  margin-top: 1rem;
  border-radius: 2rem;
}

.fa-linkedin {
  padding-right: 10px;
}

/* Get Started Section */
.get-started {
  background-color: #9792E4;
  padding: 3rem 0;
}

.gs-text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.gs-text h3 {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgba(255, 255, 255, .6);
}

.gs-text h2 {
  font-size: 3rem;
  font-weight: 600;
  color: white;
}

.gs-text h1 {
  font-size: 6rem;
  font-weight: 600;
  color: #FDC15F;
}

.gs-text h4 {
  font-size: 1.2rem;
  color: white;
  font-weight: 200;
  width: 50%;
}

.gs-btn {
  color: #9792E4;
  background-color: white;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 3rem;
}

.gs-text h5 {
  font-size: 1rem;
  color: white;
  font-weight: 200;
  width: 50%;
}

.gs-text h5 a {
  font-size: 1rem;
  font-weight: 200;
  color: white;
}

/* Footer */

.footer {
  background-color: #333333;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 3rem;
}

.footer-section p {
  color: white;
  text-align: center;
  width: 50%;
}

.links {
  color: white;
}

.links a {
  color: #9792E4;
}



/************************************************
   RESPONSIVE
 ************************************************/

/* Large Devices Responsiveness */

@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }

  .align-center {
    max-width: 90%;
  }
}

/* Laptop Responsiveness */
@media screen and (max-width: 992px) {
  .container {
    width: 90%;
  }

  .btn-card {
    text-align: center;
  }
}

/* Tablet Responsiveness */
@media screen and (max-width: 768px) {

  .footer-section p {
    width: 80%;
  }

  .gs-text h5 {
    width: 100%;
  }

  .gs-text h4 {
    width: 80%;
  }

  .fa-quote-left {
    position: absolute;
    right: 50px;
    top: 70px;
    font-size: 55px;
    color: #9792E4;
  }

  .about-col-right h3 {
    width: 80%;
    text-align: center;
  }

  .linkedin-btn {
    width: 80%;
  }

  .flex {
    flex-direction: column;
  }

  .col-lft {
    width: 100%;
  }

  .col-rgt {
    width: 100%;
    margin-top: 0rem;
  }

  .container {
    width: 90%;
  }

  .btn-card {
    text-align: center;
  }

  .align-center {
    max-width: 80%;
  }

  .menu-button-container {
    display: flex;
  }

  .top-right-menu {
    position: absolute;
    top: 0;
    margin-top: 4.8rem;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  #menu-toggle~.top-right-menu li,
  #menu-toggle~.top-right-menu span {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.top-right-menu li,
  #menu-toggle:checked~.top-right-menu span {
    border: 1px solid white;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .top-right-menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: rgb(0, 132, 253);
  }

  .top-right-menu>span {
    border-radius: 0;
    display: flex;
    margin: 0;
    width: 100%;
    padding: 0.5em 0;
    justify-content: center;
    background-color: rgb(0, 132, 253);
  }

  .top-right-menu>span a {
    color: white;
  }
}

/* Mobile Responsiveness */
@media screen and (max-width: 480px) {

  .links {
    text-align: center;
  }

  .footer-section p {
    width: 100%;
  }

  .gs-text h1 {
    font-size: 4rem;
  }

  .gs-text h2 {
    font-size: 2.5rem;
  }

  .about-col-left h1 {
    font-size: 3rem;
  }

  .about-col-left {
    width: 100%;
  }

  .fa-quote-left {
    top: 80px;
    right: 90px;
    font-size: 5rem;
  }

  .about-col-right {
    width: 100%;
  }

  .about-us-section {
    flex-direction: column;
  }

  .testimonial-text h1 {
    font-size: 2rem;
  }

  .quote-text {
    padding-top: 0;
  }

  .row-testimonial {
    flex-direction: column;
    text-align: center;
  }

  .col-lft {
    margin-left: 2rem;
  }

  .big-card {
    display: inline;
    text-align: center;
  }

  .col-left {
    width: 100%;
  }

  .col-right {
    width: 100%;
    display: flex;
    margin: 0 auto;
    width: 70%;
  }

  .col-right img {
    padding: 0;
    width: 100%;
  }

  #top-right-menu {
    display: none;
  }
}